<div class="col-5 ml-4">
  <h1><%= t('.header') %></h1>
  <table class="table table-sm">
    <thead class="thead text-center">
      <tr class="table-warning">
          <th rowspan="2" class="align-middle"><%= t('.name') %></th>
          <th rowspan="2" class="align-middle"><%= t('.image') %></th>
          <th colspan="4"><%= t('.condition') %></th>
          <th rowspan="2" colspan="2" class="align-middle"><%= t('main.action') %></th>
      </tr>
      <tr class="table-warning">
        <th><%= t('.level') %></th>
        <th><%= t('.category') %></th>
        <th><%= t('.passage_amount') %></th>
        <th><%= t('.first_attempt') %></th>
      </tr>
    </thead>
    <tr class="table-primary text-center align-middle">
      <td class="text-center align-middle"><%= @badge.name %></td>
      <td class="text-center align-middle"><%= image_tag(@badge.image_ref, size: "80x60") %>
      <td class="text-center align-middle"><%= level_view(@badge) %></td>
      <td class="text-center align-middle"><%= category_view(@badge) %></td>
      <td class="text-center align-middle"><%= @badge.test_passages_amount %></td>
      <td class="text-center align-middle"><%= first_attempt_view(@badge) %></td>
      <td class="text-center align-middle">
        <%= link_to  t("main.edit"), edit_admin_badge_path(@badge), class: "btn-sm btn-warning" %>
      </td>
      <td class="text-center align-middle"><b>
        <%= link_to t('main.delete'), admin_badge_path(@badge), class: "btn-sm btn-danger",
  			method: :delete,
  			data: { confirm: t('main.confirm') } %></b>
      </td>
    </tr>
  </table>

  <p><%= link_to t('main.back'), admin_badges_path, class: "btn btn-primary" %></p>
</div>
