<footer>
  <p>
  	<%= t('.author') %> <br>
  	<%= github_url("misterMK24", "test-guru") %><br>
    <%= t('.description') %><br>

  	<%= link_to t('.thinknetica'), 'https://thinknetica.com' %>,
    <%= current_year %>.
  </p>
</footer>
