<h1><%= t('.header') %></h1>
<h3><%= t('.test') %>: <%= @test.title %> </h3>

<p><%= link_to t('main.create'), new_admin_test_question_path %></p>

<%= render 'shared/questions_list', resource: @questions %>

<%= render 'shared/footer' %>
