<!DOCTYPE html>
<html>
  <body>
    <h1><%= t('.question_id') %>:  <%= @question.id %></h1>
    <p><b><%= @question.body %></b></p>


    <h2><%= t('.answers') %></h2>
    <ol>
      <%= render @question.answers.order(:created_at) %>
    </ol>
    <p><%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %></p>
    <p><%= link_to t('main.back'), action: 'index', test_id: @question.test_id %></p>
  </body>
</html>
