<tr>
  <td>
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="text-center"><%= test.level %></td>
  <td class="text-center"><%= test.category.title %>
  <td class="text-center"><%= test.author.username %></td>
  <td class="text-center"><%= questions_amount(test) %></td>
  <td class="text-center"><%= test.timer %></td>
  <td><%= link_to t('main.show'), admin_test_path(test), class: "btn-sm btn-info" %></td>
  <td>
    <%= link_to  t("main.edit"), 
                  edit_admin_test_path(test), 
                  data: { test_id: test.id },
                  class: "btn-sm btn-warning form-inline-link" %>
  </td>
  <td><b><%= link_to t('main.delete'), admin_test_path(test), class: "btn-sm btn-danger",
				method: :delete,
				data: { confirm: t('main.confirm') } %></b></td>
</tr>
