<%= javascript_include_tag 'utilities/sorting.js'%>

<div class="col ml-4">
  <h1><%= t('tests.index.header') %></h1>
  <div class= "float-left">
   <p><%= link_to t('main.create'), new_admin_test_path, class: "btn btn-primary" %></p>
      <table class="table table-stripped table-sm">
        <thead class="thead-dark text-center">
          <tr>
              <th class="sort-by-title">
                <%= t('tests.index.title') %>
                <%= octicon "arrow-up", :height => 16, class: 'd-none' %>
                <%= octicon "arrow-down", :height => 16, class: 'd-none' %>
              </th>
              <th><%= t('tests.index.level') %></th>
              <th><%= t('tests.index.category') %></th>
	    				<th><%= t('tests.index.author') %></th>
	    				<th><%= t('tests.index.level') %></th>
              <th colspan="3"><%= t('main.action') %></th>
          </tr>
        </thead>

	      <%= render @tests.order(:created_at) %>

      </table>
  </div>
</div>
