<!DOCTYPE html>
<html>
  <body>
    <p><%= t('.test_id') %>:  <%= @test.id %></p>
    <p><%= t('tests.index.title') %>: <b><%= @test.title %></b></p>
    <p><%= t('tests.index.level') %>: <%= @test.level %></p>
    <p><%= t('tests.index.category') %>: <%= @test.category.title%></p>
    <p><%= t('tests.index.author') %>: <%= @test.author.username %></p>
    <p><%= t('tests.index.questions') %>: <%= questions_amount(@test)%></p>
    <p><b><%= t('.questions')%>: </b></p>

    <%= render 'shared/questions_list', resource: @questions unless @questions.empty? %> 


    <%= link_to t('.create'), new_admin_test_question_path(@test) %><br>
    <%= link_to t('main.back'), action: 'index' %>
  </body>
</html>
