<div class="col-4 ml-4">

  <h1><%= t('tests.index.header') %></h1>
    <div class="float-left">
      <table class="table table-stripped table-sm">
        <thead class="thead-dark text-center">
          <tr>
              <th class="sort-by-title">
                <%= t('.title') %>
                <%= octicon "arrow-up", :height => 16, class: 'title_color d-none' %>
                <%= octicon "arrow-down", :height => 16, class: 'title_color d-none' %>
              </th>
              <th><%= t('.level') %></th>
              <th><%= t('.category') %></th>
	    				<th><%= t('.author') %></th>
	    				<th class="text-nowrap"><%= t('.questions') %></th>
              <th class="text-nowrap"><%= t('.timer') %></th>
              <th><%= t('main.action') %></th>
          </tr>
        </thead>

	      <%= render @tests.order(:created_at) %>

      </table>
  </div>
</div>
