<h1><%= t('tests.index.header') %></h1>

<div class="float-left">
	<div class="position-static">
		<table class="table">
			<thead class="thead-dark text-center">
		  	<tr>
		  		<th><%= t('.title') %></th>
		  		<th><%= t('.level') %></th>
		  		<th><%= t('.category') %></th>
		  		<th><%= t('.author') %></th>
		  		<th><%= t('.questions') %></th>
		  		<th><%= t('main.action') %></th>
		  	</tr>
			</thead>
	</div>
</div>

	<%= render @tests.order(:created_at) %>
	</table>
