<h1><%= t('.header') %></h1>

<table>
  <tr>
  	<th><%= t('.title') %></th>
  	<th><%= t('.level') %></th>
  	<th><%= t('.category') %></th>
  	<th><%= t('.author') %></th>
  	<th><%= t('.questions') %></th>
  	<th><%= t('main.action') %></th>
  </tr>
    <%= render @tests.order(:created_at) %>
</table>

<%= render 'shared/footer' %>
